Package: chinesechess
Version: 5.8.3+
Architecture: arm64
Priority: optional
Section: games
Maintainer: Junyi Shi <hmsjy2019@gmail.com>
Homepage: https://github.com/xmuli/chinessChess
Description: Cross-platform and online battle platform game based on Qt: Chinese Chess

